apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-nunrmakz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-nunrmakz:0c6a9aff875a4fc868d070ba127346a08c76d224@sha256:5f7869262c610225a08955ba7d8328907988b8f11cfb438cab27f7a9fd6d9c26
          name: container-image
